#feedbackpass, #feedback{
 color:red;   
}

#contact{
    text-align:center;
}

#login_pos, #reg_pos{
    text-align:right;
}

#rcorners {
    text-align:center;
    border-radius: 15px 50px 30px;
    background: rgba(0,0,0,0.255);
    padding: 5px 5px 5px; 
    margin: 5px 240px 5px; 
    width: 500px;
    height: 50px; 
    color:black;

}

/*----------------color change amination------------------------*/

#col_change{
    text-align:center;
    width: 300px;
    height: 100px;
    border-radius: 15px 50px 30px;
    padding: 20px;
    margin-bottom:20px;
    background-color: rgba(0,0,0,0.255);
    position: relative;
    -webkit-animation-name: change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: change; 
    animation-duration: 4s;
    color:black;
}


/*----------------Navigation------------------------*/

nav{
    text-align:center;
    padding:0px 0px 80px 0px;
}


/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
	padding:3px;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
	color:white;
}

/*Style for dropdown links*/
li:hover ul a {
	background: black;
	color: white;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
#show-menu{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 1200px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}




h2{
    text-align:center;
}


#diobox{
    background:#669999;
    color:black;
    font-size: 12pt;
    text-align:left;
    font-family: "Montserrat", sans-serif;
}

#link, #my-button,#link2,#link3,#link4,#link5,#link6{
    color:white;
}
#datadetails{
    padding:85px 0px 0px;
    
}

#app{
    text-align:center;
    
}

table.app {
    margin-left:auto; 
    margin-right:auto;
  }

#dropDownButton, #weather { 
    display:none; 
    background:#2f3036;
    padding:20px;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius: 25px;
}

input, select, textarea{
    color: black;
}


* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

#datadetails {
    max-width: 800px;
    margin: 50px auto;
}

#datadetails .ui-accordion-content {
    width: 100%;
    background: #94B8B8;
    color: black;
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;
}

#datadetails .ui-accordion-content > * {
    margin: 0;
    padding:40px;
}

#datadetails .ui-accordion-header {
    background:  #2f3036;
    color:white;
    margin: 0px;
}

#wu{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

